/* Coinview CSS */

.button-bar {
  background-color: #c6ccc2;
  text-align: center;
}

.fib-explain { 
  text-align: center;
  
}
.center-button { 
  margin: auto;
  text-align: center;
}
  
.current-market-boxplot { 
  margin-top: 10px;
}

.footer { 
  text-align: center;
  
}
